<!DOCTYPE html>
<html ng-app="webIcons" ng-cloak>
    <head>
    <title>Web icons - a list of icons which are available by default in the standard fonts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />    
    <meta name="keywords" content="icons, web, fonts, css, content, html, code"> 
    <meta name="description" content="Repository which allows to find available web icons to use it in you web application." />
    <meta name="author" content="Dmytro Dzyuba" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js" ></script>
    <script type="text/javascript" src="assets/script.js" ></script>
    <link href="assets/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div ng-controller="main" class="main">
        <aside>
            <div class="asideContainer">
                <div class="logo">
                    <img src="assets/images/ic_logo_mdpi.png" alt="logo" />
                    <h1>Web icons</h1>
                </div>
                <div class="searchCategory">
                    <input type="text" id="searchCategory" placeholder="Filter Category" role="search" ng-model="filterCategory">
                </div>
                <ul>
                    <li ng-click="showAll()">Show all</li>
                    <li ng-repeat="category in categories | filter : filterCategory" ng-click="filterByCategory()">{{category}}</li>
                    <li ng-hide="true"><input type="text" ng-</li>
                    <li ng-click="addNew()">Add new</li>
                </ul>
            </div>
        </aside>
        <div class="icons">
            <div class="iconSearch">
                <input type="text" id="iconSearch" placeholder="Search icon" />
                <button>ok</button>
            </div>
            <div class="categories">
                <div class="category" ng-hide="true" ng-repeat="categories in category">
                    <div class="categoryHeader"><h2>{{category}}</h2></div>
                    <div class="categoryBody">
                        <div class="icon" ng-repeat="icon in icons | filter: {category: category}">{{icon.code}}</div>
                    </div>
                </div>
                <div class="uncategorized category" ng-hide="">
                    <div class="categoryHeader"><h2>Uncategorized</h2></div>
                    <div class="categoryBody">
                        <button id="loadNew" ng-click="loadIcons()">Load</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
    