<!DOCTYPE html>
<html ng-app="webIcons" ng-cloak>
    <head>
    <title>Web icons - a list of icons which are available by default in the standard fonts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />    
    <meta name="keywords" content="icons, web, fonts, css, content, html, code"> 
    <meta name="description" content="Repository which allows to find available web icons to use it in you web application." />
    <meta name="author" content="Dmytro Dzyuba" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js" ></script>
    <script type="text/javascript" src="assets/script.js" ></script>
    <link href="assets/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div ng-controller="main" class="main" ng-init="editCat=false;newIcons=[];currentCat=0">
        <aside>
            <div class="asideContainer">
                <div class="logo">
                    <img src="assets/images/ic_logo_mdpi.png" alt="logo" />
                    <h1>Web icons</h1>
                </div>
                <div class="searchCategory">
                    <input type="text" id="searchCategory" placeholder="Filter Category" role="search" ng-model="filterCategory">
                </div>
                <ul ng-class="{'edit': editCat}">
                    <li ng-click="setCurrentCategory(0)" ng-hide="editCat" ng-class="currentCat==0?'current':''">Show all</li>
                    <li ng-repeat="category in categories | filter : filterCategory" ng-class="currentCat===category.id ? 'current':''">
                        <button ng-click="deleteCategory($index)" class="delete" ng-show="editCat">&times;</button>
                        <div ng-click="setCurrentCategory(category.id)" ng-hide="editCat">{{category.name}}</div>
                        <input type="text" ng-required="true" ng-model=category.name ng-show="editCat" ng-change="changeCategories(category, $index)" value="{{category.name}}" >
                    </li>
                </ul>
                <div class="addNew" ng-hide="editCat">
                    <form ng-submit="addNewCategory(newCategory)" name="addNewCategoryForm">
                    <input type="text" ng-model="newCategory" ng-required="true" placeholder="Add new">
                    </form>
                </div>
                <div id="editCategories" ng-hide="editCat" ng-click="editCat=true; startEdition()">
                    Edit categories
                    <span> >></span>
                </div>
                <div id="completeEdit" ng-show="editCat" ng-click="editCat=false; completeEdition()">
                    <span><< </span>
                    Complete edition
                </div>
            </div>
        </aside>
        <div class="icons">
            <div class="iconSearch">
                <input type="text" id="iconSearch" placeholder="Search icon" />
                <button>ok</button>
            </div>
            <div class="categories">
                <div class="uncategorized category" ng-hide="">
                    <div class="categoryHeader"><h2>Uncategorized</h2></div>
                    <div class="categoryBody">
                        <div id="categoryIcons">
                            <div ng-repeat="newIcon in newIcons" class="iconContainer">
                                <div class="icon" ng-bind-html=newIcon></div>
                                <button class="ignore">Ignore</button>
                                <button class="add">Add</button>
                            </div>                            
                        </div>
                        <button id="loadNew" ng-click="loadIcons()">Load</button>
                    </div>
                </div>
                <div class="category" ng-repeat="category in categories">
                    <div class="categoryHeader"><h2>{{category.name}}</h2></div>
                    <div class="categoryBody">
                        <div class="icon" ng-repeat="icon in filteredIcons = (icons | filter: {category: category})">{{icon.code}}</div>
                        <div ng-show="!filteredIcons.length" class="emptyCategory">Category is empty</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
    