*{
    box-sizing: border-box;
}

body, html{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 12px;
    color: #666;
    background: #1F262D;
}

.main{
    height: 100%;
    display: table;
}

aside{
    box-sizing: border-box;
    display: table-cell;
    background: #2e363f;
    height: 100%;
}

.asideContainer{    
    width: 256px;
}

.icons{
    display: table-cell;
    width: 100%;
    vertical-align: top;
}

.logo{
    padding: 10px;
}

.logo img{
    float: left;
}

h1{
    padding-left: 60px;
    line-height: 48px;
    font-size: 24px;
    color: #fff;
    margin: 0;
}

h2{
    font-size: 13px;
    line-height: 35px;
    margin: 0;
    display: inline-block;
    padding-left: 15px;
}

.searchCategory{
    padding: 0 10px;
}

#searchCategory{
    width: 100%;
    height: 28px;
    padding: 0 10px;
}

ul{
    padding: 0;
    text-indent: 0;
    list-style: none;
    margin: 10px 0 0;
}

ul {
    border-bottom: 1px solid #37414b;
}
ul > li {
    border-bottom: 1px solid #1f262d;
    border-top: 1px solid #37414b;
    line-height: 35px;
    padding: 0 20px;
    color: #ccc;
    cursor: pointer;
    position: relative;
}
ul > li.active, ul > li:hover {
    border-bottom: 1px solid #27a9e3;
    border-top: 1px solid #27a9e3;
    background-color: #27a9e3;
    color: #fff;
}

ul > li.current:after{
    content: ' ';
    width: 0;
    height: 0;
    border-right: 10px solid #eeeeee;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 0 none;
    display: block;
    position: absolute;
    right: 0;
    top: 8px;    
}

ul.edit > li:hover {
    background-color: transparent !important;
    border-bottom: 1px solid #1f262d;
    border-top: 1px solid #37414b;
}

.iconSearch{
    border-left: 1px solid #000;
    border-right: 1px solid #2e363f;
    padding: 10px;
}

.categories{
    background: #EEEEEE;
}

#iconSearch {
    border: 0 none;
    font-size: 20px;
    line-height: 44px;
    padding: 0 15px;
    width: 100%;
}

.iconSearch button{
    background: #28b779 none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    font-size: 22px;
    height: 44px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 11px;
    width: 44px;
    top: 10px;
}

.categories {
    background: #eeeeee none repeat scroll 0 0;
    height: 100%;
    padding: 20px;
    width: 100%;
}

.category {
    border: 1px solid #ccc;
}

.categoryHeader{
    border-bottom: 1px solid #ccc;
    height: 35px;
}

.categoryHeader:before{
    border-right: 1px solid #ccc;
    content: "?";
    display: inline-block;
    font-weight: bold;
    height: 25px;
    padding-top: 9px;
    text-align: center;
    vertical-align: top;
    width: 34px;
}

.categoryBody {
    background: #fff;
    padding: 15px;
}

#loadNew {
    background: #28b779 none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 18px;
    line-height: 42px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
}

.icon{
    font-size: 76px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    vertical-align: middle;
    width: 100px;
    color: #fff;
    position: relative;
    background: 
        repeating-linear-gradient(to right, transparent, transparent 10px, #ccc 11px),
        repeating-linear-gradient(to bottom, #2E363F, #2E363F 10px, #ccc 11px);
}

.addNew input, li input{
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    border-bottom: 2px solid #28b779;
    box-shadow: none;
    color: #ccc;
    height: 35px;
    width: 100%;
    outline: 0 none;
}

li input{
    color: #FFCC5C;
}

.addNew input{
    padding: 0 10px;
}

.addNew input::placeholder{
    font-style: italic;
} 
.addNew input::-webkit-input-placeholder{
    font-style: italic;
}
.addNew input::-moz-placeholder{
    font-style: italic;
}
.addNew input:-ms-input-placeholder{
    font-style: italic;
}
.addNew input:-moz-placeholder{
    font-style: italic;
}

.addNew{
    padding: 0 10px;
}

#editCategories, #completeEdit {
    color: #ccc;
    line-height: 36px;
    padding-right: 10px;
    text-align: right;
    text-decoration: underline;
    cursor: pointer;
}

#completeEdit {
    padding-left: 10px;
    padding-right: 0;
    text-align: left;
}

#editCategories span{
    color: #28b779
}

#completeEdit span{
    color: #D93240;
}

button.delete{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    color: #d93240;
    cursor: pointer;
    height: 34px;
    left: 1px;
    padding: 0;
    position: absolute;
    top: 0;
}

#categoryIcons:after {
    display: block;
    content: ' ';
    clear: both;
}

.iconContainer{
    position: relative;
    float: left;
    width: 100px;
    height: 100px;
    margin: 10px 15px;
    overflow: hidden;
}

.ignore{
    background: #d93240 none repeat scroll 0 0;
    border: 0 none;
    bottom: -25px;
    color: #fff;
    left: 0;
    padding: 3px 5px;
    position: absolute;
    transition: bottom 1s;
    cursor: pointer;
}

.add{
    background: #28b779 none repeat scroll 0 0;
    border: 0 none;
    bottom: -25px;
    color: #fff;
    padding: 3px 5px;
    position: absolute;
    right: 0;
    transition: bottom .3s;
    cursor: pointer;
}

.iconContainer:hover .add, .iconContainer:hover .ignore{
    bottom: 0;
}

.category {
    margin-bottom: 20px;
    box-shadow: 2px 2px 1px 0px #ccc;
}

.emptyCategory{
    text-align: center;
    padding: 20px 0;
}

.veil{
    background: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    opacity: 0;
    -webkit-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}

.veil.showVeil{
    display: block;
    opacity: 1;
    -webkit-transition: opacity 2s ease-out;
    -ms-transition: opacity 2s ease-out;
    -moz-transition: opacity 2s ease-out;
    transition: opacity 2s ease-out;
}

.panel{
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 10px #fff;
    margin: 8% auto 0;
    position: relative;
    width: 640px;
}

.panelTitle {
    background: #2e363f none repeat scroll 0 0;
    color: #eee;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
}

.panelBody {
    padding: 20px;
}

.iconsPerFont .tahoma{
    font-family: Tahoma;
}
.iconsPerFont .arial{
    font-family: arial;
}
.iconsPerFont .timesNewRoman{
    font-family: Times New Roman;
}
.iconsPerFont .verdana{
    font-family: Verdana;
}
.iconsPerFont .georgia{
    font-family: Georgia;
}

.iconsPerFont:after{
    content: ' ';
    clear: both;
    display: block;
}

.font {
    float: left;
    margin: 0 10px;
}

.fontTitle{
    color: #28b779;
    font-weight: bold;
    height: 32px;
    text-align: center;
    vertical-align: middle;
    width: 100px;
}

.iconTags{
    margin: 20px 10px;
}

.iconTags input{
    border: 1px solid #ccc;
    height: 30px;
    padding: 0 10px;
    width: 100%;
}

.panelBody select{
    border: 1px solid #ccc;
    height: 32px;
    margin: 0 10px;
    padding-left: 10px;
    width: 200px;
    float: left;
}

.closeButton{
    background: #d93240 none repeat scroll 0 0;
    border: 2px solid #fff;
    border-radius: 100%;
    color: #fff;
    font-weight: bold;
    height: 25px;
    line-height: 20px;
    padding: 0;
    position: absolute;
    right: 13px;
    text-align: center;
    top: 7px;
    vertical-align: middle;
    width: 25px;
    cursor: pointer;
}

.iconSave button{
    background: #28b779 none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 18px;
    margin: 0 0 0 24px;
    padding: 4px 11px;
}

.iconSave:after{
    content: ' ';
    clear: both;
    display: block;
}